#bsa-adpack{ width:360px; clear:both; margin:0 auto 0 auto; }
	body .adpacks{background:#fff;padding:10px;margin:15px 0 0 0; border:3px solid #eee; }
	body .one .bsa_it_ad{background:transparent;border:none;font-family:inherit;padding:0 0px 0 0px;margin:0;text-align:right;}
	body .one .bsa_it_ad:hover img{-moz-box-shadow:0 0 3px #000;-webkit-box-shadow:0 0 3px #000;box-shadow:0 0 3px #000;}
	body .one .bsa_it_ad .bsa_it_i{ padding:0;float:left;margin:0 5px 0 0;}
	body .one .bsa_it_ad .bsa_it_i img{padding:0;border:none;}
	body .one .bsa_it_ad .bsa_it_t{padding:6px 0 0 0; color:#eee; font:bold 13px "Helvetica Neue", Helvetica, Arial, sans-serif;}
	body .one .bsa_it_ad .bsa_it_d{padding:6px 0 0 0; color:#bbb; font:11px "Helvetica Neue", Helvetica, Arial, sans-serif;}
	body .one .bsa_it_p{display:none; }
	body #bsap_aplink,body #bsap_aplink:hover, #bsap_aplink:visited{color:#7559a6; display:block;font-size:10px;margin:12px 15px 0;text-align:right; font:11px "Helvetica Neue", Helvetica, Arial, sans-serif; text-decoration:none;}
		#bsap_aplink:hover{ text-decoration:none; font-weight:bold !important; }
