

/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

@charset "utf-8";


.show {
background-color:grey;
height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 50px;
  position: fixed;
  z-index: -5;
}

.paddingit {
background-color:white;
padding:30px;
z-index: 5;
}


.full {
  background-image: image-url("2b.jpg");
  overflow: hidden;
  position: fixed;
  background-repeat: no-repeat;

    background-size: cover;
    background-position: 0px 0px;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}


.full2 {
overflow: auto;
position: relative;
  height: 1600px;
  width: 100%;
  padding-top: 120px;
  left: 0px;
  display: block;
}

// .contents{
//   background-color:red;
//      height: 1600px;
//      padding: 20px;
//      margin-left: -10px;
//      margin-right: 0;
//     padding-top: 120px;
//     width:100%;
//     overflow: scroll;
//     z-index:500;
//  }

.formdiv {

  width:100%;
  height: 600px;

}

.bigtxt {
position:relative;
  height: 800px;
  width: 90%;
  left:5%;

font-size: 10vw;
font-family: abril Fatface;
color: white;
}




.topi{
  margin-top:25%;

}
.logo{
  height:40px;

}

.nlc{
  padding-right:15px;
  color:black;
  margin-top:-10px;

}

.navi{
  height:80px;
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 5%;
  background-color: none !important;
background:rgba(0,0,0,0.0) !important;
border-style: none !important;
border: none !important;
  position:fixed;
  top: 0;
  z-index: 500;
}

.navi3{
  height:80px;
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 5%;
  background-color: none !important;
background:rgba(0,0,0,0.0) !important;
border-style: none !important;
border: none !important;
  position:absolute;
  top: 0;
  z-index: 500;


}

.navi2{

  z-index: 5000;
  background-color: none !important;
background:rgba(0,0,0,0.0) !important;
border-style: none !important;

color:white !important;
border-bottom: white solid thin;


}

.navilinks{
color:white !important;

}


.navilinks :hover{

text-decoration: underline;
}

.centerlinks{

margin-left: 40%;


}



.access {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  height: 70px;
  width: 900px;
  top: 45%;
  left: 50%;
  margin-left: -450px;

  text-align: center;
  vertical-align: middle;

}

.navs {
  overflow: hidden;
  position: fixed;
  z-index: 3;
  height: 70px;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 15px;
  background-color:red;

}

.menu {
  overflow: hidden;
  position: fixed;
  z-index: 3;
  height: 30px;
  width: 300px;
  font-size: 15pt;
  top: -15px;
  right: 50px;
  padding: 15px;
  font-style: normal;
  font-family: "Arial", sans-serif;
  vertical-align: middle;
}


.field {
  height: 70px;
  width: 250px;
  background-color: #fff;
  font-size: 30pt;
padding-left:10px;
  float: left;
  border-style: none;
  margin-right:7px;
}
.button {
  height: 70px;
  width: 70px;
  background-color: black;
  color: #ffffff;
  font-size: 30pt;
  padding: 15px;
  float: left;
  border-style: none;
  text-align: center;
  margin-right:2px;
}

.button :hover {
  height: 70px;
  width: 70px;
  background-color: white;
  color: #ffffff;
  font-size: 30pt;
  padding: 15px;
  float: left;
  border-style: none;
  text-align: center;
  margin-right:2px;
}
ul#menu li {
  display: inline;
  color: #000000;
  z-index:100;
}


.item {

  font-style: normal;
  font-family: "Arial", sans-serif;

}

.item_img {
padding:20px;
  width:150px;
  height: 150px;
  background-image: image-url("helmet2.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
    background-position: center;

}


.middle_results {
overflow:scroll;
overflow-x:hidden;
position:absolute;
  z-index: 1;
  height: 100%;
  width: 700px;
  top: 100px;
  left: 30%;
  margin-left: -350px;
}

.left_results {
  top: 100px !important;
  position: fixed;
}


.forma {
width: 50%;
position:relative;
top:100px;
left:5%;


}


.bodytxt {
  font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 2.5vw;
font-weight: Regular;
color: white;
width:75%;
height:33%;
margin: auto;
position: relative;
top: 0; left: 0; bottom: 0; right: 0;
}


.notice {

font-size: 1vw;
font-weight: Regular;
color: red;
margin: auto;
position: relative;
top: 0; left: 0; bottom: 0; right: 0;
z-index:500;

}




.back {
background-color:white;
position:absolute;
font-size: 1vw;
font-family: 'Roboto', sans-serif;
font-weight: 400;
color: #C1B39B;
top:1%;
left:1%;
width: auto;
padding: 5px;
padding-right: 10px;
border:none;

}

.next {
background-color:white;
position:absolute;
font-size: 1vw;
font-family: 'Roboto', sans-serif;
font-weight: 400;
color: #C1B39B;
top:1%;
left:49%;
width: auto;
padding: 5px;
padding-right: 10px;
border: none;

}


.back:hover,
.back:focus,
.back:active {
   background-color: #C1B39B;
  color: white;
;
}



.parent {
display: table;
width: 100%;
overflow: hidden;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100%;
width: 100%;
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;




}

.child {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
 }

// headline styles


.fashion1 {font-family: 'Abril Fatface', cursive; color: white;}
.fashion2 {font-family: 'Vollkorn', serif; color: white;}
.fashion3 {font-family: 'Voltaire', sans-serif; color: white;}

.tech1 {font-family: 'Source Code Pro',; color: white;}
.tech2 {font-family: 'Droid Sans', sans-serif; color: white;}
.tech3 {font-family: 'Fjalla One', sans-serif; color: white;}


.neutral1 {font-family: 'Roboto', sans-serif; color: white;}
.neutral2 {font-family: 'Roboto', sans-serif; color: white;}
.neutral3 {font-family: 'Roboto', sans-serif; color: white;}



.music1 {font-family: 'Knewave', cursive; color: #ee005c;}
.music2 {font-family: 'Permanent Marker', cursive; color: #ee005c;}
.music3 {font-family: 'Permanent Marker', cursive; color: #ee005c;}
// .music1 {font-family: 'Playfair Display', serif; color: #ee005c; background-color:white; display: block; width:50%; top:20%;
// -webkit-transform: rotate(-30deg);
// -moz-transform: rotate(-30deg);
// -ms-transform: rotate(-30deg);
// -o-transform: rotate(-30deg);
// }




.travel1 {font-family: 'Sirin Stencil', cursive; color: white;}
.travel2 {font-family: 'Poiret One', cursive; color: white;}
.travel3 {font-family: 'Pacifico', cursive; color: white;}



.academic1 {font-family: 'Quicksand', sans-serif; color: white;}
.academic2 {font-family: 'Kelly Slab', cursive; color: white;}
.academic3 {font-family: 'Buda', cursive; color: white;}


.personal1 {font-family: 'Amatic SC', cursive; color: white;}
.personal2 {font-family: 'Dancing Script', cursive; color: white;}
.personal3 {font-family: 'Handlee', cursive; color: white;}


// BG styles


.bg-neutral1 {background-image: image-url("1.jpg");text-align: center; font-size: 10vw; padding-top:10%;}
.bg-neutral2 {background-image: image-url("1.jpg");text-align: center; font-size: 10vw; padding-top:10%;}
.bg-neutral3 {background-image: image-url("1.jpg");text-align: center; font-size: 10vw; padding-top:10%;}


.bg-tech1 {background-image: image-url("tech.jpg"); text-align: center; font-size: 10vw;  padding-top:10%;}
.bg-tech2 {background-image: image-url("tech2.jpg"); text-align: center; font-size: 10vw; padding-top:10%;}
.bg-tech3 {background-image: image-url("tech3.jpg"); text-align: center; font-size: 10vw; padding-top:10%;}


.bg-fashion1 {background-image: image-url("fashion.jpg");text-align: center; font-size: 10vw; padding-top:10%;}
.bg-fashion2 {background-image: image-url("fashion2.jpg");text-align: center; font-size: 10vw; padding-top:10%;}
.bg-fashion3 {background-image: image-url("fashion3.jpg");text-align: center; font-size: 10vw; padding-top:10%;}


.bg-music1 {background-image: image-url("music.jpg");text-align: center; font-size: 10vw; padding-top:10%;}
.bg-music2 {background-image: image-url("music.jpg");text-align: center; font-size: 10vw; padding-top:10%;}
.bg-music3 {background-image: image-url("music.jpg");text-align: center; font-size: 10vw; padding-top:10%;}


.bg-travel1 {background-image: image-url("travel.jpg");text-align: center; font-size: 10vw; padding-top:10%;}
.bg-travel2 {background-image: image-url("travel2.jpg");text-align: center; font-size: 10vw; padding-top:10%;}
.bg-travel3 {background-image: image-url("travel.jpg");text-align: center; font-size: 10vw;  padding-top:10%;}


.bg-academic1 {background-image: image-url("academic.jpg");text-align: center; font-size: 10vw; padding-top:10%;}
.bg-academic2 {background-image: image-url("academic.jpg");text-align: center; font-size: 10vw; padding-top:10%;}
.bg-academic3 {background-image: image-url("academic.jpg");text-align: center; font-size: 10vw; padding-top:10%;}

.bg-personal1 {background-image: image-url("1.jpg");text-align: center; font-size: 10vw; padding-top:10%;}
.bg-personal2 {background-image: image-url("1.jpg");text-align: center; font-size: 10vw; padding-top:10%;}
.bg-personal3 {background-image: image-url("1.jpg");text-align: center; font-size: 10vw; padding-top:10%;}


// homepage form


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: white;


}
input:-moz-placeholder, textarea:-moz-placeholder {
color: white;

}


input.login {
font-family: 'Roboto', sans-serif;
z-index: 100;
border: 5px solid white !important;
background: transparent;
color: white !important;
height: 100px;
vertical-align: middle;
width: 64%;
padding-left:30px;
margin-bottom:5px;
font-size: 2vw;
}

input.login2 {
font-family: 'Roboto', sans-serif;
z-index: 100;
border: 5px solid white !important;
background: transparent;
color: white;
height: 100px;
vertical-align: middle;
width: 96.7%;
padding-left:30px;
margin-bottom:5px;
font-size: 2vw;
}



input.button {
z-index: 100;
border: 5px solid white !important;
background: transparent;
color: white;
height: 100px;
width: 32%;
margin-bottom:5px;
margin-right:5px;
text-align: left;
font-size: 2vw;
padding-left:30px;
font-family: 'Roboto', sans-serif;
font-weight: 100;

}


.beam {
background-image: image-url("arroww2.png");
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
    background-position: 90% 55%;
    background-size: 12%;
    background-color: #C1B39B;
color:white;

}

.beam:hover {
background: transparent;
color: white;
background-image: image-url("arroww2.png");
overflow: hidden;
position: relative;
background-repeat: no-repeat;
background-position: 90% 55%;
background-size: 12%;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  input.button {
    width: 100%;
    font-size: 6vw;
    height: 80px;
    background-position: 95% 55%;
background-size: 7%;
  }
    input.button:hover {
    width: 100%;
    font-size: 6vw;
    height: 80px;
    background-position: 95% 55%;
background-size: 7%;
  }


  input.login{
width: 100%;
    font-size: 6vw;
    height: 80px;

  }

  input.login2{
width: 100%;
    font-size: 6vw;
    height: 80px;
  }


  .forma{
width:90%;
    bottom: 30px;
  }

}


.add {
  background-color: white;
background:transparent;
background-image: image-url("arroww1.png");
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
    background-position: 90% 55%;
    background-size: 12%;

}

.add:hover {
background: transparent;
color:white;
background-image: image-url("arroww1.png");
overflow: hidden;
position: relative;
background-repeat: no-repeat;
background-position: 90% 55%;
background-size: 12%;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  input.button {
    width: 100%;
  }
}



.drop {
z-index: 100;
border-style: none !important;
border: none !important;
height: 100px;
width: 32%;
margin-bottom:5px;
margin-right:5px;
text-align: left;
font-size: 3vw;
padding-left:30px;
font-family: 'Roboto', sans-serif;
font-weight: 100;
background-color: white;
color: #C1B39B;
background-image: image-url("arrow-04.png");
overflow: hidden;
position: relative;
background-repeat: no-repeat;
background-position: 90% 55%;
background-size: 12%;

}

// =======================================

// .showurl {
// background-color: #090909;
// border: black solid thick;
// left: 20%;
// right: 20%;
// top: 20%;
// bottom:20%;
//   position: fixed;
//   z-index: 5000;
// }



.showurl {
background-color: #090909;
border: black solid thick;
width:930px;
left:50%;
margin-left: -475px;
top:200px;
  position: fixed;
  z-index: 5000;
  overflow: hidden;

}

.showurl a {
  color:#ccc;
  font-size: 1vw;

}

.divtop {

  height:100%;
  position:relative;
  top:0;
  padding:5px;
  background-color: white;
}

.divbottom {
background-color: #030303;
  height:25%;
  position:relative;
  bottom:0;
    padding:5px;
}

// iframe thumbnails

.thumbframe1 {
  width: 150px;
  height: 270px;
border:none;
  overflow: hidden;
  top:0;
}

.thumbframe2 {
  width: 500px;
  height: 270px;
border:none;
  overflow: hidden;
}

.thumbframe3 {
  width: 270px;
  height: 270px;
border:none;
  overflow: hidden;
}
/////////////////////

.tg  {width:auto; height:100%; position:relative; background-color: #111111;}
.tg td{padding:10px 10px; background-color:#222222; height:10%; font-size: 2vw; vertical-align:middle; margin-bottom:50px;}
.tg th{font-size:14px;color:white; height:90%; text-align: center; }
.tg .tg-baqh{text-align:center;vertical-align:middle}
