
@charset "utf-8";

.fashion-demo1 {
  font-family: 'Abril Fatface',cursive; color: #ee005c; text-align: center;
  font-size: 10vw;
  padding-top:10%;

}

.fashion-demo2 {
  font-family: 'Abril Fatface',cursive; color: yellow; text-align: center;
  font-size: 10vw;
  padding-top:10%;

}

.fashion-demo3 {
  font-family: 'Abril Fatface',cursive; color: yellow; text-align: center;
  font-size: 10vw;
  padding-top:10%;

}




.bg-fashion-demo1 {

  background: linear-gradient(90deg, rgba(#7b4397, 0.5) 10%, #dc2430 90%), image-url("bg-demofashion1.jpg");

}

.bg-fashion-demo2 {

background: linear-gradient(90deg, rgba(#7b4397, 0.5) 10%, #dc2430 90%), image-url("bg-demofashion1.jpg");

}

.bg-fashion-demo3 {

background: linear-gradient(90deg, rgba(#7b4397, 0.5) 10%, #dc2430 90%), image-url("bg-demofashion1.jpg");

}

