<%= form_for(@page) do |f| %>


<div class="forma">
    <%= f.text_field :headline, :placeholder => "Headline", :class => "login" %>
    <%= f.text_field :content, :placeholder => "Content", :class => "login2"%>
    <%= f.submit "Beam it", :class => "beam" %>

<% end %>
</div>
