<div class="full">
</div>





<div class="full2">
<div class="navi3">
<%= image_tag("beamop_white.png", :alt => "beamop", :class => "logo") %>
</div>
<div class="formdiv"><%= render 'form' %></div>
<div class="bigtxt">Beamop is your personal campaign robot</div>
<!-- <div class"bigtxt">
Your digital agency, if you look for a brilliant idea, a rocket capable of embarking with your project the passion and know-how of a designers' complete team, creative and developers. Tools and communication channels are exponential and evolve every day.
Sweet Punk centered its core business on the idea, the concept and the strategy to be adopted. Our studio activates then its strength of production to bring to carry them out.

</div> -->
</div>
