<div class="full"></div>





<div class="full2">

<div class="navi3"><%= image_tag("beamop_white.png", :alt => "beamop", :class => "logo") %></div>

<div class="formdiv"><%= render 'form' %></div>

<div class="bigtxt"><p style ="font-size:3vw;">⤵</p>GIVE US YOUR CONTENT, WE'LL MAKE IT REACH THE APPROPPRIATE AUDIENCE INSTANTLY<br>-<br>

<div class="patxt">
Beamop is your personal design and ad placing agency. Designing and placing visual communications online can be a challange.
To make things simpler we've developed a design generator and ad placing algorithm to enable our users to quickly design and publish their content online.
<!--

Our marketing algorithm then activates its strength to make your message reach as many people as possible.

If you need to quickly communicate visually with a with as many clients or users as possible Beamop will design your content and post it on multiple online platforms. All of our designs are generate by your content while being responsive and simple.
 -->
</div>

<p>-</p>




</div>



</div>
