<meta property="og:{tagName}" content="{tagValue}"/>
<meta property="og:image" content="image url goes here(canonical link)"/>
<meta property="og:title" content="Headline goes here"/>
<meta property="og:site_name" content="User/business name"/>



<div class="parent <%= @page_bg %>">
  <div class="child <%= @page_h1 %>">
<%= @page.headline %>
  <p class="bodytxt ">
  <%= @page.content %>
  </p>
</div>











